
@{
    ViewData["Title"] = "BIMGo";
    Layout = "~/Views/Shared/_LayoutAll.cshtml";
}

<h2>BIMGo</h2>
<div id="divCheckbox" style="display: none;">
    
        @{

            @ViewBag.data1
        }


    </div>
    <div>
        IFCFilePath
    </div>
