@model Identity.Models.Models.IFCFile
@{
    ViewData["Title"] = "BIMGo";
    Layout = "~/Views/Shared/_BIMGoLayout.cshtml";
}
<div>

    <div id="WebSiteNewFolder_id" style="display: none;">1</div>

    <div id="WebSiteFilePath_id"style="display: none;">

        @{

            @Html.DisplayFor(model => model.RelativeFilePath) }

    </div>
    <div id="divCheckbox"style="display: none;">

        @{
            @Html.DisplayFor(model => model.FileName) }
    </div>
    <div id="filename"style="display: none;">
        @{
            @Html.DisplayFor(model => model.FileName) };



    </div>
    <div id="WebSiteUserId_id"style="display: none;">
        @{
            @Html.DisplayFor(model => model.ApplicationUser.Id) }
    </div>  
</div>
<script>
    var sub;
   
    sub = document.getElementById("divCheckbox").innerHTML;
    sub = sub.split('.')[sub.split('.').length - 2];
    //var newsub = sub.slice(0, -4)
    document.getElementById("filename").innerHTML = sub;

</script>

