@model Identity.Models.Models.FileData
@{
    ViewData["Title"] = "Upload";
    Layout = "~/Views/Shared/_LayoutAll.cshtml";

}
<h2>@ViewData["Title"]</h2>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<form asp-controller="IFCFiles" asp-action="Upload" method="post" class="form-horizontal col-md-6" role="form" enctype="multipart/form-data">
    <h4>Upload a new file</h4>
    <hr />


    <div class="form-group">
        <label asp-for="IFCFile" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="IFCFile" class="form-control" type="file" multiple />
            <span asp-validation-for="IFCFile" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Upload</button>
        </div>
    </div>


    <li><a asp-area="" asp-controller="IFCFiles" asp-action="index">Back to your Files</a></li>

    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
</form>
